{% extends "layout.html" %}
{% block content %}

<head>

  <meta charset="utf-8">
  <link rel="icon" href="http://obj-cache.cloud.ruanbekker.com/favicon.ico">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Carbon Analyzer</title>

</head>
    <br><br><br><br><br><br><br><br><br>
        <div class="container">
        
          <center>
          <h2> Welcome to Carbon Analyzer! </h2>
          </center>
          
          <p style="line-height:1.0"><font size="3"></font></p>
      </div>

    <!--
    <form action="search_results" method="post">
     <div class="container">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="input" placeholder="Search for documents, patterns  . . . . ." autofocus>
        <div class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>

    </form>
    -->

    <br><br><br><br><br><br><br><br><br><br><br>
      <footer class="footer">
        <p>&copy; 2021 Carbon Analyzer </p>
      </footer>

      </div>
    </div>
{% endblock %}
